.atlassian-autocomplete .long-field ~ .qcf-suggestions {
    width: 500px;
    max-width: 500px;
}
.qcf-linkissue-context {
    margin-left: 0px;
    margin-right: 0px;
}

.links-list dd .qfs-delete-link {
    position: absolute;
    right: 0;
    top: 2px;
}

.links-list dd .qfs-delete-link .icon {
    height: 24px !important;
}
